*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif',serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans',sans-serif;
}
body{
  background-color: white;
  color: #333;
}
.graphic{
  position: relative;
}
.graphic img,.graphic-img{
  width: 80%;
  height: 600px;
  position: absolute;
  z-index: -10;
}
